@model MVCDemo.Areas.Admin.ViewModels.UserRoleIndexData
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>UserRoles</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        <th>
            CreateDate
        </th>
        <th>
            Department
        </th>
        <th>
            Roles
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.VMUsers)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.UserID)
        {
            selectedRow = "success";
        }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @if (item.Dept != null)
                {
                    @item.Dept.Name
                }
            </td>
            <td>
                @{
                    foreach (var userRole in item.UserRoles)
                    {
                        @userRole.Role.Name <br />
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.ID })
            </td>
        </tr>
    }
</table>

@if (Model.VMRoles != null)
{
    <h3>Related Roles</h3>
    <table class="table table-striped">
        <tr>
            <th>RoleName</th>
            <th>RoleDesc</th>
        </tr>

        @foreach (var item in Model.VMRoles)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Desc
                </td>
            </tr>
        }
    </table>
}