@model IEnumerable<MVCDemo.Areas.Admin.Models.TUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            用户名  @Html.ActionLink("▲", "Index", new { SortOrder = "Name" })@Html.ActionLink("▼", "Index", new { SortOrder = "Name_D" })
        </th>
        <th>
            密码  @Html.ActionLink("▲", "Index", new { SortOrder = "Password" })@Html.ActionLink("▼", "Index", new { SortOrder = "Password_D" })
        </th>
        <th>
            邮箱  @Html.ActionLink("▲", "Index", new { SortOrder = "EMail" })@Html.ActionLink("▼", "Index", new { SortOrder = "EMail_D" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
