@model PagedList.IPagedList<MVCDemo.Areas.Admin.Models.TUser>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>用户管理</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        查询 用户名/邮箱: @Html.TextBox("QueryString1")
        <input type="submit" value="查询" />
    </p>
}
<table class="table">
    <tr>
        <th>
            用户编号  @Html.ActionLink("▲", "Index", new { SortOrder = "ID", QueryString1 = ViewBag.CurrQueryString })@Html.ActionLink("▼", "Index", new { SortOrder = "ID_D", QueryString1 = ViewBag.CurrQueryString })
        </th>
        <th>
            用户名  @Html.ActionLink("▲", "Index", new { SortOrder = "Name", QueryString1 = ViewBag.CurrQueryString })@Html.ActionLink("▼", "Index", new { SortOrder = "Name_D", QueryString1 = ViewBag.CurrQueryString })
        </th>
        <th>
            密码  @Html.ActionLink("▲", "Index", new { SortOrder = "Password", QueryString1 = ViewBag.CurrQueryString })@Html.ActionLink("▼", "Index", new { SortOrder = "Password_D", QueryString1 = ViewBag.CurrQueryString })
        </th>
        <th>
            邮箱  @Html.ActionLink("▲", "Index", new { SortOrder = "EMail", QueryString1 = ViewBag.CurrQueryString })@Html.ActionLink("▼", "Index", new { SortOrder = "EMail_D", QueryString1 = ViewBag.CurrQueryString })
        </th>
        <th>
            创建时间  @Html.ActionLink("▲", "Index", new { SortOrder = "CreateDate", QueryString1 = ViewBag.CurrQueryString })@Html.ActionLink("▼", "Index", new { SortOrder = "CreateDate_D", QueryString1 = ViewBag.CurrQueryString })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.CheckBox("item" + item.ID) @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.ID }) |
            @Html.ActionLink("详细", "Details", new { id = item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
<br />
第 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount 页 @Html.PagedListPager(Model, PageIndex => Url.Action("Index", new { PageIndex, SortOrder = ViewBag.CurrSortOrder, QueryString1 = ViewBag.CurrQueryString }))

